// ==============================
// 変数
// ==============================
$font-color_default: #666;
// TODO:リファクタ必要
$color_corp: #EB7C31;
$sub_color1: #35c6ff;

$font-size_s: 12px;
$font-size_m: 14px;
$font-size_default: 16px;
$font-size_l: 18px;
$font-size_xl: 24px;
$font-size_xxl: 30px;
$font-size_3l: 38px;

$space_s: 5px;
$space_m: 10px;
$space_l: 15px;
$space_xl: 20px;
$space_xxl: 30px;
$space_3l: 40px;

$font-family_corp: 'Noto Sans JP',
sans-serif;


@import 'foundation/reset';
@import 'foundation/_base';
@import '../../node_modules/bootstrap/scss/bootstrap.scss';

body{
    background-color: #EB7C31;
    color: white;
}
.home_image{
    background-color: antiquewhite;
    float: left;
    width: 100%;
}
.home_title{
    margin: 20% 25px;
}
.sub_title{
    margin: 30% 40px auto;
}
.btn-wrapper {
    display: inline-flex;
    flex-direction: column;
    align-items: start; /* ADD */
    margin: 1% 25px;
  }
  .loginbtn{
    width: 300px;
    padding: 10px;
    margin-top: 10px;
    border-radius:50px;
  }
  .text-center{
      text-align: center;
  }
